<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

	<!-- jQuery library -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

	<!-- Latest compiled JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<title>The Wall</title>
</head>
<body>
	<div id="header" class="navbar-fixed-top">
		<h1>CodingDojo Wall</h1>
		<div id="corner_toolbar">
			<p>Welcome {{session['user_name']}}</p>
			<a href="/logout">Log Off</a>
		</div>
	</div>
	<div class="container">
		<div class="form-group">
			<h4>Post a message</h4>
			<form action="/submit_message" method="post" enctype="multipart/form-data">
				<textarea class="form-control" rows="5" name="message"></textarea>
				{% with messages = get_flashed_messages() %}
					{% if messages %}
				      	{% for message in messages %}
					      	{% if message != "Login info not found!" %}
					      	<div class="flash">
					        	<p>{{message}}</p>
					        </div>
					        {% endif %}
				    	{% endfor %}
					{% endif %}
				{% endwith %}
				<label for="file">Upload an image or mp4! (max file size 8MB)</label>
				<input type="file" name="file"><br>
				<button type="submit" name="submit" value="Submit">Post Message</button>
			</form>
		</div>
		<div id="messages">
			{% if messages != [] %}
				{% for x in range(length, -1, -1) %}
				<h5>Message #{{messages[x]['message_id']}} - {{messages[x]['name']}} - {{messages[x]['timestamp']}}</h5>
				<p>
					{{messages[x]['message']}}	
				</p>
					{% if messages[x]['filename'] != None %}
						{% if messages[x]['filename'].endswith('.mp4'): %}
						<video width="400" controls>
  							<source src="static/uploads/{{messages[x]['filename']}}" type="video/mp4">
  						</video><br>
						{% else: %}
						<img src="static/uploads/{{messages[x]['filename']}}" alt="bad dir"><br><br>
						{% endif %}
					{% endif %}
					{% if messages[x]['user_id'] == session['user_id']%}
					<form>
						<button formaction="/delete_msg/{{messages[x]['message_id']}}" formmethod="post">Delete message</button>
					</form><br>	
					{% endif %}	
				<div id="comments" class="indent">
					{% for comment in comments %}
						{% if comment['message_id'] == messages[x]['message_id'] %}
					<h5>{{comment['name']}} - {{comment['timestamp']}}</h5>
					<p>{{comment['comment']}}</p>
						{% endif %}
					{% endfor %}	
					<div class="form-group">
						<form class="comment" action="/submit_comment/{{messages[x]['message_id']}}" method="post">
							<textarea class="form-control" rows="2" name="comment"></textarea><br>
							<button type="submit" name="submit" value="Submit">Post Comment</button>
						</form>
					</div>
				</div>
				{% endfor %} 
			{% endif %}
		</div>
	</div>
</body>
</html>